<!DOCTYPE html>
<html lang="en">

<head>
    <title>介绍</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/0.98.2/js/materialize.min.js"></script>


    <form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="input-field">
                            <input id="A1" type="text" class="validate">
                            <label for="A1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="B1" type="text" class="validate">
                            <label for="B1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="C1" type="text" class="validate">
                            <label for="C1"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div class="input-field">
                            <input id="A2" type="text" class="validate">
                            <label for="A2"></label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="B2" type="text" class="validate">
                            <label for="B2"></label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="C2" type="text" class="validate">
                            <label for="C2"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <div class="input-field">
                            <input id="A3" type="text" class="validate">
                            <label for="A3"></label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="B3" type="text" class="validate">
                            <label for="B3"></label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="C3" type="text" class="validate">
                            <label for="C3"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>