<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>表单菜单</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/materialize.min.css" rel="stylesheet">
</head>

<body>
  <!-- Insert this line above script imports  -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <!-- normal script imports etc  -->
  <script src="../public/js/jquery-3.2.1.min.js"></script>
  <script src="../public/js/materialize.min.js"></script>
  <script src="../public/js/echarts.min.js"></script>
  <!-- Insert this line after script imports -->
  <script>
    if (window.module) module = window.module;
  </script>

  <div class="container">
    <div class="row">
      <div class="col s3">
        <a class="waves-effect waves-light btn col s12" id="newGrid">新建表单</a>
      </div>
      <div class="col s3">
        <a class="waves-effect waves-light btn col s12" id="editGrid">修改表单</a>
      </div>
      <div class="col s3">
        <a class="waves-effect waves-light btn col s12" id="delGrid">删除表单</a>
      </div>
      <div class="col s3">
        <a class="waves-effect waves-light btn col s12" id="searchGrid">搜索表单</a>
      </div>
    </div>
  </div>

  <div id="main" style="width: 985px;height:400px;"></div>
  
</body>

<script>
  require('../renderer/gridMenu')
</script>

</html>