<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>介绍页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/materialize.min.css" rel="stylesheet">
</head>

<body>
    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- normal script imports etc  -->
    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script src="../public/js/echarts.min.js"></script>
    <!-- Insert this line after script imports -->
    <script>
        if (window.module) module = window.module;
    </script>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="carousel" style="height: 200px;">
                    <a class="carousel-item" href="#one!" id="img1"><img src="../public/img/1.jpg"></a>
                    <a class="carousel-item" href="#two!" id="img2"><img src="../public/img/2.jpg"></a>
                    <a class="carousel-item" href="#three!" id="img3"><img src="../public/img/3.jpg"></a>
                    <a class="carousel-item" href="#four!" id="img4"><img src="../public/img/4.jpg"></a>
                    <a class="carousel-item" href="#five!" id="img5"><img src="../public/img/5.jpg"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div id="main" style="width: 500px;height:300px;"></div>
        </div>
        <div class="col s6">
            <h1 id="name">航亚</h1>
            <p id="introduction">航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚航亚</p>
        </div>
    </div>

</body>

<script>
    require('../renderer/introduction')
</script>

</html>